spring:
    application:
        name: transaction-api

    datasource:
        url: jdbc:postgresql://localhost:5432/securepay
        username: postgres
        password: SecurePay@2026!
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: validate
        show-sql: true
        properties:
            hibernate:
                format_sql: true
                dialect: org.hibernate.dialect.PostgreSQLDialect

    flyway:
        enabled: true
        baseline-on-migrate: true